head
    link(rel="stylesheet", href="Css/main.css")

body
    header  
        div.carte_intro2
            p.menu_titre2 La note enchantée 
            p.menu2 Menu
        h1.titre2 ohmyfood
    h1.titre_carte2.titre_carte  Le chic à la française

    div.test.background_menu2 
        section.couleur_carte2--1.police_menu_2
            div.titre_menu
                svg(version='1.0' xmlns='http://www.w3.org/2000/svg' width='331.000000pt' height='18.000000pt' viewbox='0 0 331.000000 18.000000' preserveaspectratio='xMidYMid meet').border
                    metadata
                    | décoration menu2
                    g(transform='translate(0.000000,18.000000) scale(0.100000,-0.100000)' fill='#000000' stroke='none').border_menu2--1
                        path(d='M2725 160 c-255 -21 -1025 -46 -1715 -56 -463 -7 -641 -22 -275 -23 423 -2 1460 -31 1850 -53 272 -15 286 -15 374 10 40 12 120 27 177 34 57 7 104 15 104 18 0 3 -46 11 -102 18 -57 6 -137 21 -178 32 -99 28 -117 29 -235 20z')
                h2.titre_menu2--1 Pour se mettre en appétit 
                svg(version='1.0' xmlns='http://www.w3.org/2000/svg' width='331.000000pt' height='18.000000pt' viewbox='0 0 331.000000 18.000000' preserveaspectratio='xMidYMid meet').border
                    metadata
                    | décoration menu1
                    g(transform='translate(0.000000,18.000000) scale(0.100000,-0.100000)' fill='#000000' stroke='none').border_menu2--1
                        path(d='M402 154 c-37 -16 -244 -54 -298 -54 -71 0 -30 -16 69 -28 56 -6 136 -21 177 -33 85 -25 100 -25 375 -10 388 21 1407 50 1820 52 110 0 209 4 220 9 12 5 -63 9 -190 9 -531 2 -1798 42 -2085 66 -36 3 -66 -1 -88 -11z')
            // utiliser un before et un after pour poser les barres au prélude
            ul.listemenu
                li 
                    p Tartare de poulpe acidulé aux zests d'orange
                    p 79€ 
                li 
                    p Velouté de légumes d'antan
                    p 57€ 
                li 
                    p Soupe à l'oignon revisitée
                    p 57€ 

        section.couleur_carte2--2.police_menu_2
            div.titre_menu
                svg(version='1.0' xmlns='http://www.w3.org/2000/svg' width='331.000000pt' height='18.000000pt' viewbox='0 0 331.000000 18.000000' preserveaspectratio='xMidYMid meet').border
                    metadata
                    | décoration menu2
                    g(transform='translate(0.000000,18.000000) scale(0.100000,-0.100000)' fill='#000000' stroke='none').border_menu2--2
                        path(d='M2725 160 c-255 -21 -1025 -46 -1715 -56 -463 -7 -641 -22 -275 -23 423 -2 1460 -31 1850 -53 272 -15 286 -15 374 10 40 12 120 27 177 34 57 7 104 15 104 18 0 3 -46 11 -102 18 -57 6 -137 21 -178 32 -99 28 -117 29 -235 20z')
                h2.titre_menu2--2 Plaisir des papilles
                svg(version='1.0' xmlns='http://www.w3.org/2000/svg' width='331.000000pt' height='18.000000pt' viewbox='0 0 331.000000 18.000000' preserveaspectratio='xMidYMid meet').border
                    metadata
                    | décoration menu2
                    g(transform='translate(0.000000,18.000000) scale(0.100000,-0.100000)' fill='#000000' stroke='none').border_menu2--2
                        path(d='M402 154 c-37 -16 -244 -54 -298 -54 -71 0 -30 -16 69 -28 56 -6 136 -21 177 -33 85 -25 100 -25 375 -10 388 21 1407 50 1820 52 110 0 209 4 220 9 12 5 -63 9 -190 9 -531 2 -1798 42 -2085 66 -36 3 -66 -1 -88 -11z')
            // utiliser un before et un after pour poser les barres au prélude
            ul.listemenu
                li 
                    p Coquilles Saint-Jacques accompagnées d'une purée de panais
                    p 95€ 
                li 
                    p menu
                    p 88€ 
                li 
                    p menu
                    p 175€ 
        section.couleur_carte2--3.police_menu_2
            div.titre_menu
                svg(version='1.0' xmlns='http://www.w3.org/2000/svg' width='331.000000pt' height='18.000000pt' viewbox='0 0 331.000000 18.000000' preserveaspectratio='xMidYMid meet').border
                    metadata
                    | décoration menu2
                    g(transform='translate(0.000000,18.000000) scale(0.100000,-0.100000)' fill='#000000' stroke='none').border_menu2--3
                        path(d='M2725 160 c-255 -21 -1025 -46 -1715 -56 -463 -7 -641 -22 -275 -23 423 -2 1460 -31 1850 -53 272 -15 286 -15 374 10 40 12 120 27 177 34 57 7 104 15 104 18 0 3 -46 11 -102 18 -57 6 -137 21 -178 32 -99 28 -117 29 -235 20z')
                h2.titre_menu2--3 Gourmandises sucrées
                svg(version='1.0' xmlns='http://www.w3.org/2000/svg' width='331.000000pt' height='18.000000pt' viewbox='0 0 331.000000 18.000000' preserveaspectratio='xMidYMid meet').border
                    metadata
                    | décoration menu2
                    g(transform='translate(0.000000,18.000000) scale(0.100000,-0.100000)' fill='#000000' stroke='none').border_menu2--3
                        path(d='M402 154 c-37 -16 -244 -54 -298 -54 -71 0 -30 -16 69 -28 56 -6 136 -21 177 -33 85 -25 100 -25 375 -10 388 21 1407 50 1820 52 110 0 209 4 220 9 12 5 -63 9 -190 9 -531 2 -1798 42 -2085 66 -36 3 -66 -1 -88 -11z')
            // utiliser un before et un after pour poser les barres au prélude
            ul.listemenu
                li 
                    p Pétales de violettes glacés et purée de noisettes
                li 
                    p Fondant au chocolat revisité
                li 
                    p Millefeuille croustillant

    footer.footer2 
        p.gauchefooter 
            a(href="Html/Mention.html") Mention légales
        p.droitefooter 
            a(href="Html/Contacts.html") Contactez-nous


